* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: 18.75%;
  padding-right: 18.75%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: -webkit-fill-available;
  padding-top: 50px;
  padding-bottom: 57px;
}
.header__logoBox {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.header__title {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  color: #292F36;
}
.header__menuBar {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}
.header__link {
  text-decoration: none;
  color: #292F36;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.banner {
  width: -webkit-fill-available;
  background-image: url(/imgs/banner/Photo.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  background-size: cover;
}
.banner__intro {
  display: flex;
  flex-direction: column;
  gap: 21px;
  padding: 113px 30vw 113px 2.7vw;
}
.banner__content {
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: left;
}
.banner__title {
  color: #292F36;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.banner__text {
  color: #4D5053;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.banner__button {
  border: none;
  border-radius: 18px;
  background: #292F36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.36px;
  padding: 26px 48px;
  display: flex;
  flex-direction: row;
  width: -webkit-fit-content;
  gap: 10px;
  align-items: center;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 93px;
  padding-top: 96px;
  padding-bottom: 96px;
}
.project__header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 700px;
  align-self: center;
}
.project__title {
  color: #292F36;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
}
.project__description {
  color: #4D5053;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.project__options {
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.project__productLine {
  display: flex;
  flex-direction: row;
  gap: 104px;
}
.project__product {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.project__productPhoto {
  width: 398px;
}
.project__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.project__productText {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.project__productTitle {
  color: #292F36;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
}
.project__productDescription {
  color: #4D5053;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}

#product1 {
  border-radius: 0 80px 0 0;
}

#product2 {
  border-radius: 80px 0 0 0;
}

#product3 {
  border-radius: 0 0 80px 0;
}

#product4 {
  border-radius: 0 0 0 80px;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F4F0EC;
  width: 100vw;
}
.counter__content {
  padding-top: 151px;
  padding-bottom: 151px;
  display: flex;
  flex-direction: row;
  gap: 76px;
  text-align: center;
  align-items: center;
}
.counter__box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.counter__amount {
  color: #CDA274;
  font-size: 85px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1.7px;
}
.counter__subcontent {
  color: #4D5053;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.counter__vertLine {
  height: 130px;
  border: 1px solid #CDA274;
}

.blog {
  padding-top: 96px;
  padding-bottom: 96px;
  display: flex;
  flex-direction: column;
  gap: 52px;
  align-items: center;
}
.blog__header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 780px;
}
.blog__headerTitle {
  color: #292F36;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
}
.blog__headerDescription {
  color: #4D5053;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.blog__designs {
  display: flex;
  flex-direction: row;
  gap: 27px;
}
.blog__borderBox {
  border-radius: 62px;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
}
.blog__content {
  padding: 21px;
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.blog__design {
  border-radius: 45px 45px 0px 0px;
  background: #EAEAEA;
}
.blog__description {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.blog__title {
  color: #292F36;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
}
.blog__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 134px;
  width: -webkit-fill-available;
}
.footer__block {
  display: flex;
  flex-direction: column;
  width: 282px;
}
.footer__block_center {
  text-align: center;
  width: -moz-min-content;
  width: min-content;
}
.footer__logoBox {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: baseline;
}
.footer__title {
  color: #292F36;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  padding-bottom: 18px;
}
.footer__text {
  color: #4D5053;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.footer__social {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 54px;
  padding-top: 31px;
}
.footer__sub-title {
  color: #292F36;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  padding-bottom: 9px;
}
.footer__sub-title_contact {
  padding-bottom: 26px;
}
.footer__link {
  text-decoration: none;
  color: #4D5053;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 300%;
  letter-spacing: 0.22px;
}
.footer__high-text {
  color: #4D5053;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 300%;
  letter-spacing: 0.22px;
}/*# sourceMappingURL=style.css.map */