@import 'vars';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.center {
    padding-left: 18.75%;
    padding-right: 18.75%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: -webkit-fill-available;
    padding-top: 50px;
    padding-bottom: 57px;

    &__logoBox {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    &__title {
        @include setterFontStyle('DM Serif Display', 40px, 125%, $blackSiteColor);
    }

    &__menuBar {
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: center;
    }

    &__link {
        text-decoration: none;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        @include setterFontStyle('Jost', 20px, 125%, $blackSiteColor);
    }
}

.banner {
    width: -webkit-fill-available;
    background-image: url(imgs/banner/Photo.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-size: cover;
    border-radius: 50px;

    &__intro {
        display: flex;
        flex-direction: column;
        gap: 21px;
        padding: 113px 30vw 113px 2.7vw;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 18px;
        justify-content: left;
    }

    &__title {
        @include setterFontStyle('DM Serif Display', 65px, 125%, $blackSiteColor);
    }

    &__text {
        font-weight: 400;
        letter-spacing: 0.22px;
        @include setterFontStyle('Jost', 22px, 150%, $grayColor);
    }

    &__button {
        border: none;
        border-radius: 18px;
        background: $blackSiteColor;
        box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
        text-align: center;
        font-weight: 600;
        letter-spacing: 0.36px;
        padding: 26px 48px;
        display: flex;
        flex-direction: row;
        width: -webkit-fit-content;
        gap: 10px;
        align-items: center;
        @include setterFontStyle('Jost', 18px, 125%, $whiteColor);
    }
}

.project {
    display: flex;
    flex-direction: column;
    gap: 93px;
    padding-top: 96px;
    padding-bottom: 96px;
    max-width: -webkit-fill-available;

    &__header {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 700px;
        align-self: center;
    }

    &__title {
        text-align: center;
        letter-spacing: 1px;
        @include setterFontStyle('DM Serif Display', 50px, 125%, $blackSiteColor);
    }

    &__description {
        text-align: center;
        letter-spacing: 0.22px;
        @include setterFontStyle('Jost', 22px, 150%, $grayColor);
    }

    &__options {
        display: flex;
        flex-direction: column;
        gap: 56px;
    }

    &__productLine {
        display: flex;
        flex-direction: row;
        gap: 104px;
        max-width: $centerWidth;
    }

    &__product {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__productPhoto {
        max-width: 356.5625px;
    }

    &__details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__productText {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__productTitle {
        letter-spacing: 0.5px;
        @include setterFontStyle('DM Serif Display', 25px, 125%, $blackSiteColor);
    }

    &__productDescription {
        letter-spacing: 0.22px;
        @include setterFontStyle('Jost', 22px, 150%, $grayColor);
    }
}

#product1 {
    border-radius: 0 80px 0 0;
}

#product2 {
    border-radius: 80px 0 0 0;
}

#product3 {
    border-radius: 0 0 80px 0;
}

#product4 {
    border-radius: 0 0 0 80px;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $lightGoldSiteColor;
    width: 100vw;

    &__content {
        padding-top: 151px;
        padding-bottom: 151px;
        display: flex;
        flex-direction: row;
        gap: 76px;
        text-align: center;
        align-items: center;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__amount {
        letter-spacing: 1.7px;
        @include setterFontStyle('DM Serif Display', 85px, 125%, $goldSiteColor);
    }

    &__subcontent {
        letter-spacing: 0.22px;
        @include setterFontStyle('Jost', 22px, 150%, $grayColor);
    }

    &__vertLine {
        height: 130px;
        border: 1px solid $goldSiteColor;
    }
}

.blog {
    padding-top: 96px;
    padding-bottom: 96px;
    display: flex;
    flex-direction: column;
    gap: 52px;
    align-items: center;

    &__header {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 780px;
    }

    &__headerTitle {
        text-align: center;
        letter-spacing: 1px;
        @include setterFontStyle('DM Serif Display', 50px, 125%, $blackSiteColor);
    }

    &__headerDescription {
        text-align: center;
        letter-spacing: 0.22px;
        @include setterFontStyle('Jost', 22px, 150%, $grayColor);
    }

    &__designs {
        display: flex;
        flex-direction: row;
        gap: 27px;
        max-width: $centerWidth;
    }

    &__borderBox {
        border-radius: 62px;
        border: 1px solid #E7E7E7;
        box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
        transition: 0.5s;

        &:hover {
            background-color: #E7E7E7;
        }
    }

    &__content {
        padding: 21px;
        display: flex;
        flex-direction: column;
        gap: 21px;
    }

    &__photo-box {
        position: relative;
    }

    &__design {
        border-radius: 45px 45px 0px 0px;
        background: #EAEAEA;
        width: 211px;
    }

    &__label {
        position: absolute;
        background-color: $whiteColor;
        padding: 4px 5px 8px 11px;
        bottom: 20px;
        left: 15px;
        border-radius: 8px 8px 8px 0px;
    }

    &__label-text {
        letter-spacing: 0.16px;
        text-transform: capitalize;
        @include setterFontStyle('Jost', 16px, 150%, $grayColor);
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__title {
        letter-spacing: 0.5px;
        @include setterFontStyle('DM Serif Display', 25px, 125%, $blackSiteColor);
    }

    &__footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 134px;
    width: -webkit-fill-available;

    &__block {
        display: flex;
        flex-direction: column;
        width: 282px;

        &_center {
            text-align: center;
            width: min-content;
        }
    }

    &__logoBox {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: baseline;
    }

    &__title {
        padding-bottom: 18px;
        @include setterFontStyle('DM Serif Display', 40px, 125%, $blackSiteColor);
    }

    &__text {
        letter-spacing: 0.22px;
        @include setterFontStyle('Jost', 22px, 150%, $grayColor);
    }

    &__social {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 54px;
        padding-top: 31px;
    }

    &__sub-title {
        padding-bottom: 9px;
        @include setterFontStyle('DM Serif Display', 25px, 125%, $blackSiteColor);

        &_contact {
            padding-bottom: 26px;
        }
    }

    &__link {
        text-decoration: none;
        letter-spacing: 0.22px;
        @include setterFontStyle('Jost', 22px, 300%, $grayColor);
    }

    &__high-text {
        letter-spacing: 0.22px;
        @include setterFontStyle('DM Serif Display', 22px, 300%, $grayColor);
    }
}

.poster {
    background-image: url(imgs/blog/Banner.png);
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-top: 111px;

    &__intro {
        background-color: $whiteColor;
        border-radius: 37px 37px 0 0;
        padding: 25px 38px;
        text-align: center;
    }

    &__title {
        @include setterFontStyle('DM Serif Display', 40px, 125%, $blackSiteColor);
    }

    &__text {
        letter-spacing: 0.22px;
        @include setterFontStyle('Jost', 22px, 150%, $grayColor);
    }
}

.last-post {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 27px;

    &__title {
        letter-spacing: 1px;
        @include setterFontStyle('DM Serif Display', 50px, 125%, $blackSiteColor);
    }

    &__content {
        display: flex;
        flex-direction: row;
        gap: 65px;
        padding: 22px;
        border-radius: 62px;
        border: 1px solid #E7E7E7;
        box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
    }

    &__image {
        border-radius: 50px;
        width: 50%;
    }

    &__description {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
        justify-content: flex-start;
    }

    &__subtitle {
        letter-spacing: 0.5px;
        padding-bottom: 22px;
        @include setterFontStyle('DM Serif Display', 25px, 125%, $blackSiteColor);
    }

    &__text {
        letter-spacing: 0.22px;
        @include setterFontStyle('Jost', 22px, 150%, $grayColor);
    }

    &__footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 41px;
    }

    &__date {
        letter-spacing: 0.16px;
        text-transform: capitalize;
        @include setterFontStyle('Jost', 16px, 150%, $grayColor);
    }
}

.news {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    width: -webkit-fill-available;

    &__title {
        letter-spacing: 1px;
        padding-bottom: 30px;
        @include setterFontStyle('DM Serif Display', 50px, 125%, $blackSiteColor);
    }

    &__designs-box {
        display: grid;
        grid-template-columns: repeat(3, 255px);
        gap: 27px;
    }

    &__pagination {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        padding-top: 51px;
        padding-bottom: 200px;
    }

    &__link:hover svg {
        fill: $lightGoldSiteColor;
    }

    &__link:hover svg circle {
        stroke: none;
    }
}

.details-poster {
    background-image: url(imgs/blog/banner-details.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 218px;
    padding-bottom: 200px;
}

.details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 52px;
    padding-bottom: 96px;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 35px;
        grid-column: span 2;

        &_first {
            display: flex;
            flex-direction: column;
        }

        &_second {
            display: flex;
            flex-direction: column;
        }
    }

    &__title {
        letter-spacing: 1px;
        padding-bottom: 20px;
        @include setterFontStyle('DM Serif Display', 44px, 125%, $blackSiteColor);
    }

    &__subContent {
        display: flex;
        flex-direction: column;
        gap: 46px;
        padding-bottom: 48px;
    }

    &__image {
        border-radius: 50px;

        &_withMargin {
            margin-bottom: 35px;
        }
    }

    &__dateBreadcrumbsBox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__date {
        letter-spacing: 0.16px;
        text-transform: capitalize;
        @include setterFontStyle('Jost', 16px, 150%, $grayColor);
    }

    &__breadcrumbs {
        padding-right: 90px;
    }

    &__breadcrumb {
        text-decoration: none;
        letter-spacing: 0.16px;
        text-transform: capitalize;
        @include setterFontStyle('Jost', 16px, 150%, $grayColor);
    }

    &__textBox {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__text {
        letter-spacing: 0.22px;
        @include setterFontStyle('Jost', 22px, 150%, $grayColor);
    }

    &__quotesBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 53px 120px;
        gap: 10px;
        background-color: $lightGoldSiteColor;
        border-radius: 50px;
    }

    &__quote {
        text-align: center;
        font-style: italic;
        letter-spacing: 4px;
        margin-bottom: -90px;
        @include setterFontStyle('DM Serif Display', 200px, 125%, $goldSiteColor);
    }

    &__quoteText {
        text-align: center;
        font-style: italic;
        letter-spacing: 0.5px;
        @include setterFontStyle('DM Serif Display', 25px, 125%, $goldSiteColor);
    }

    &__points {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding-top: 24px;
        list-style-position: inside;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 0.4px;
        padding-bottom: 44px;
    }

    &__point {
        color: $goldSiteColor;
    }
}

.blackColorText {
    color: $grayColor;
}

.tags {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__title {
        letter-spacing: 0.5px;
        @include setterFontStyle('DM Serif Display', 25px, 125%, $blackSiteColor);
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__button {
        @include setterFontStyle('Jost', 14px, 125%, $blackSiteColor);
        text-align: center;
        letter-spacing: 0.36px;
        padding: 9px 17px;
        border-radius: 10px;
        border: none;
        background-color: $lightGoldSiteColor;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            color: $whiteColor;
            background-color: #292F36;
        }
    }
}