* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.center {
  padding-left: 18.75%;
  padding-right: 18.75%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: -webkit-fill-available;
  padding-top: 50px;
  padding-bottom: 57px;
}
.header__logoBox {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.header__title {
  font-family: "DM Serif Display";
  font-size: 40px;
  line-height: 125%;
  color: #292F36;
}
.header__menuBar {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}
.header__link {
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-family: "Jost";
  font-size: 20px;
  line-height: 125%;
  color: #292F36;
}

.banner {
  width: -webkit-fill-available;
  background-image: url(imgs/banner/Photo.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  background-size: cover;
  border-radius: 50px;
}
.banner__intro {
  display: flex;
  flex-direction: column;
  gap: 21px;
  padding: 113px 30vw 113px 2.7vw;
}
.banner__content {
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: left;
}
.banner__title {
  font-family: "DM Serif Display";
  font-size: 65px;
  line-height: 125%;
  color: #292F36;
}
.banner__text {
  font-weight: 400;
  letter-spacing: 0.22px;
  font-family: "Jost";
  font-size: 22px;
  line-height: 150%;
  color: #4D5053;
}
.banner__button {
  border: none;
  border-radius: 18px;
  background: #292F36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.36px;
  padding: 26px 48px;
  display: flex;
  flex-direction: row;
  width: -webkit-fit-content;
  gap: 10px;
  align-items: center;
  font-family: "Jost";
  font-size: 18px;
  line-height: 125%;
  color: #FFF;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 93px;
  padding-top: 96px;
  padding-bottom: 96px;
  max-width: -webkit-fill-available;
}
.project__header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 700px;
  align-self: center;
}
.project__title {
  text-align: center;
  letter-spacing: 1px;
  font-family: "DM Serif Display";
  font-size: 50px;
  line-height: 125%;
  color: #292F36;
}
.project__description {
  text-align: center;
  letter-spacing: 0.22px;
  font-family: "Jost";
  font-size: 22px;
  line-height: 150%;
  color: #4D5053;
}
.project__options {
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.project__productLine {
  display: flex;
  flex-direction: row;
  gap: 104px;
  max-width: 813.125px;
}
.project__product {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.project__productPhoto {
  max-width: 356.5625px;
}
.project__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.project__productText {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.project__productTitle {
  letter-spacing: 0.5px;
  font-family: "DM Serif Display";
  font-size: 25px;
  line-height: 125%;
  color: #292F36;
}
.project__productDescription {
  letter-spacing: 0.22px;
  font-family: "Jost";
  font-size: 22px;
  line-height: 150%;
  color: #4D5053;
}

#product1 {
  border-radius: 0 80px 0 0;
}

#product2 {
  border-radius: 80px 0 0 0;
}

#product3 {
  border-radius: 0 0 80px 0;
}

#product4 {
  border-radius: 0 0 0 80px;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F4F0EC;
  width: 100vw;
}
.counter__content {
  padding-top: 151px;
  padding-bottom: 151px;
  display: flex;
  flex-direction: row;
  gap: 76px;
  text-align: center;
  align-items: center;
}
.counter__box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.counter__amount {
  letter-spacing: 1.7px;
  font-family: "DM Serif Display";
  font-size: 85px;
  line-height: 125%;
  color: #CDA274;
}
.counter__subcontent {
  letter-spacing: 0.22px;
  font-family: "Jost";
  font-size: 22px;
  line-height: 150%;
  color: #4D5053;
}
.counter__vertLine {
  height: 130px;
  border: 1px solid #CDA274;
}

.blog {
  padding-top: 96px;
  padding-bottom: 96px;
  display: flex;
  flex-direction: column;
  gap: 52px;
  align-items: center;
}
.blog__header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 780px;
}
.blog__headerTitle {
  text-align: center;
  letter-spacing: 1px;
  font-family: "DM Serif Display";
  font-size: 50px;
  line-height: 125%;
  color: #292F36;
}
.blog__headerDescription {
  text-align: center;
  letter-spacing: 0.22px;
  font-family: "Jost";
  font-size: 22px;
  line-height: 150%;
  color: #4D5053;
}
.blog__designs {
  display: flex;
  flex-direction: row;
  gap: 27px;
  max-width: 813.125px;
}
.blog__borderBox {
  border-radius: 62px;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  transition: 0.5s;
}
.blog__borderBox:hover {
  background-color: #E7E7E7;
}
.blog__content {
  padding: 21px;
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.blog__photo-box {
  position: relative;
}
.blog__design {
  border-radius: 45px 45px 0px 0px;
  background: #EAEAEA;
  width: 211px;
}
.blog__label {
  position: absolute;
  background-color: #FFF;
  padding: 4px 5px 8px 11px;
  bottom: 20px;
  left: 15px;
  border-radius: 8px 8px 8px 0px;
}
.blog__label-text {
  letter-spacing: 0.16px;
  text-transform: capitalize;
  font-family: "Jost";
  font-size: 16px;
  line-height: 150%;
  color: #4D5053;
}
.blog__description {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.blog__title {
  letter-spacing: 0.5px;
  font-family: "DM Serif Display";
  font-size: 25px;
  line-height: 125%;
  color: #292F36;
}
.blog__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 134px;
  width: -webkit-fill-available;
}
.footer__block {
  display: flex;
  flex-direction: column;
  width: 282px;
}
.footer__block_center {
  text-align: center;
  width: -moz-min-content;
  width: min-content;
}
.footer__logoBox {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: baseline;
}
.footer__title {
  padding-bottom: 18px;
  font-family: "DM Serif Display";
  font-size: 40px;
  line-height: 125%;
  color: #292F36;
}
.footer__text {
  letter-spacing: 0.22px;
  font-family: "Jost";
  font-size: 22px;
  line-height: 150%;
  color: #4D5053;
}
.footer__social {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 54px;
  padding-top: 31px;
}
.footer__sub-title {
  padding-bottom: 9px;
  font-family: "DM Serif Display";
  font-size: 25px;
  line-height: 125%;
  color: #292F36;
}
.footer__sub-title_contact {
  padding-bottom: 26px;
}
.footer__link {
  text-decoration: none;
  letter-spacing: 0.22px;
  font-family: "Jost";
  font-size: 22px;
  line-height: 300%;
  color: #4D5053;
}
.footer__high-text {
  letter-spacing: 0.22px;
  font-family: "DM Serif Display";
  font-size: 22px;
  line-height: 300%;
  color: #4D5053;
}

.poster {
  background-image: url(imgs/blog/Banner.png);
  background-repeat: no-repeat;
  width: 100vw;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-top: 111px;
}
.poster__intro {
  background-color: #FFF;
  border-radius: 37px 37px 0 0;
  padding: 25px 38px;
  text-align: center;
}
.poster__title {
  font-family: "DM Serif Display";
  font-size: 40px;
  line-height: 125%;
  color: #292F36;
}
.poster__text {
  letter-spacing: 0.22px;
  font-family: "Jost";
  font-size: 22px;
  line-height: 150%;
  color: #4D5053;
}

.last-post {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.last-post__title {
  letter-spacing: 1px;
  font-family: "DM Serif Display";
  font-size: 50px;
  line-height: 125%;
  color: #292F36;
}
.last-post__content {
  display: flex;
  flex-direction: row;
  gap: 65px;
  padding: 22px;
  border-radius: 62px;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
}
.last-post__image {
  border-radius: 50px;
  width: 50%;
}
.last-post__description {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: flex-start;
}
.last-post__subtitle {
  letter-spacing: 0.5px;
  padding-bottom: 22px;
  font-family: "DM Serif Display";
  font-size: 25px;
  line-height: 125%;
  color: #292F36;
}
.last-post__text {
  letter-spacing: 0.22px;
  font-family: "Jost";
  font-size: 22px;
  line-height: 150%;
  color: #4D5053;
}
.last-post__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 41px;
}
.last-post__date {
  letter-spacing: 0.16px;
  text-transform: capitalize;
  font-family: "Jost";
  font-size: 16px;
  line-height: 150%;
  color: #4D5053;
}

.news {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  width: -webkit-fill-available;
}
.news__title {
  letter-spacing: 1px;
  padding-bottom: 30px;
  font-family: "DM Serif Display";
  font-size: 50px;
  line-height: 125%;
  color: #292F36;
}
.news__designs-box {
  display: grid;
  grid-template-columns: repeat(3, 255px);
  gap: 27px;
}
.news__pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding-top: 51px;
  padding-bottom: 200px;
}
.news__link:hover svg {
  fill: #F4F0EC;
}
.news__link:hover svg circle {
  stroke: none;
}

.details-poster {
  background-image: url(imgs/blog/banner-details.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 218px;
  padding-bottom: 200px;
}

.details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 52px;
  padding-bottom: 96px;
}
.details__content {
  display: flex;
  flex-direction: column;
  gap: 35px;
  grid-column: span 2;
}
.details__content_first {
  display: flex;
  flex-direction: column;
}
.details__content_second {
  display: flex;
  flex-direction: column;
}
.details__title {
  letter-spacing: 1px;
  padding-bottom: 20px;
  font-family: "DM Serif Display";
  font-size: 44px;
  line-height: 125%;
  color: #292F36;
}
.details__subContent {
  display: flex;
  flex-direction: column;
  gap: 46px;
  padding-bottom: 48px;
}
.details__image {
  border-radius: 50px;
}
.details__image_withMargin {
  margin-bottom: 35px;
}
.details__dateBreadcrumbsBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.details__date {
  letter-spacing: 0.16px;
  text-transform: capitalize;
  font-family: "Jost";
  font-size: 16px;
  line-height: 150%;
  color: #4D5053;
}
.details__breadcrumbs {
  padding-right: 90px;
}
.details__breadcrumb {
  text-decoration: none;
  letter-spacing: 0.16px;
  text-transform: capitalize;
  font-family: "Jost";
  font-size: 16px;
  line-height: 150%;
  color: #4D5053;
}
.details__textBox {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.details__text {
  letter-spacing: 0.22px;
  font-family: "Jost";
  font-size: 22px;
  line-height: 150%;
  color: #4D5053;
}
.details__quotesBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 53px 120px;
  gap: 10px;
  background-color: #F4F0EC;
  border-radius: 50px;
}
.details__quote {
  text-align: center;
  font-style: italic;
  letter-spacing: 4px;
  margin-bottom: -90px;
  font-family: "DM Serif Display";
  font-size: 200px;
  line-height: 125%;
  color: #CDA274;
}
.details__quoteText {
  text-align: center;
  font-style: italic;
  letter-spacing: 0.5px;
  font-family: "DM Serif Display";
  font-size: 25px;
  line-height: 125%;
  color: #CDA274;
}
.details__points {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 24px;
  list-style-position: inside;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.4px;
  padding-bottom: 44px;
}
.details__point {
  color: #CDA274;
}

.blackColorText {
  color: #4D5053;
}

.tags {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.tags__title {
  letter-spacing: 0.5px;
  font-family: "DM Serif Display";
  font-size: 25px;
  line-height: 125%;
  color: #292F36;
}
.tags__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.tags__button {
  font-family: "Jost";
  font-size: 14px;
  line-height: 125%;
  color: #292F36;
  text-align: center;
  letter-spacing: 0.36px;
  padding: 9px 17px;
  border-radius: 10px;
  border: none;
  background-color: #F4F0EC;
  cursor: pointer;
  transition: 0.5s;
}
.tags__button:hover {
  color: #FFF;
  background-color: #292F36;
}/*# sourceMappingURL=style.css.map */